{% extends 'base.html.twig' %}

{% block body %}
<section class="hero hero-panel" style="background-image: url(http://127.0.0.1:8000/img/cover/cover-register.jpg);">
<div class="hero-bg"></div>
<div class="container relative">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-none margin-auto">
    <div class="panel panel-default panel-login">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-users"></i> Register</h3>
      </div>
      <div class="panel-body">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary btn-block" type="submit" value="Signup" />
        {{ form_end(form) }}
      </div>
      <div class="panel-footer">
        Already have an account? <a href="http://127.0.0.1:8000/utilisateur/connecter">Sign In Now</a>
      </div>
    </div>
  </div>
</div>
</div>
</section>


	{% endblock %}
